
.sections{
    padding-top: 100px;
    scroll-snap-type: y mandatory;
    justify-content: center;
    align-items: center;
    padding : 100px 100px;
    width:90%;
    
    
}

section{
    min-height: 95vh;
    scroll-snap-align: start;
    
}

.story{
    display: flex;
}

.story .content{
    flex: 1;
    margin-top: 10%;
    animation: fadeInUp 2s ease;
}

.story .content h2{
    color: #013CC6;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.story .content p{
    width: 600px;
    line-height: 1.6;
    font-size: 18px;
}

.story .strimg{
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}

.story img{
    width: 100%;
    max-width: 500px;
    margin-left: 35%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.benifits {
    display: flex;
}

.benifits .benimg{
    flex: 1;
    width: 600px;
    margin: auto;
    margin-left: 10%;
    animation: fadeInRight 2s ease;
}

.benifits img{
    width: 450px;
    height: 450px;
}

.benifits .bcontent{
    flex: 1;
    margin-top: 10%;
    margin-left: 15%;
    animation: fadeInUp 2s ease;
}

.benifits .bcontent h2{
    color: #013CC6;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.benifits .bcontent p{
    width: 600px;
    line-height: 1.6;
    font-size: 18px;
    
}

.benifits .reg-btn{
    padding: 8px 16px;
    background-color: #4089FF; 
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin-top: 30px;
}

.benifits .reg-btn:hover{
    background-color: #08DCC1;
}

.team {
    display: flex;
}

.team .tcontent{
    flex: 1;
    margin-top: 10%;
    margin-left: 10%;
    
}

.team .tcontent h2{
    color: #013CC6;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.team .tcontent p{
    width: 600px;
    line-height: 1.6;
    font-size: 18px;
    
}

.career .ccontent{
    text-align: center;
    margin-top: 10%;
}

.career .ccontent h2{
    color: #013CC6;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;
}

.career .ccontent p{
    width: 100%;
    line-height: 1.6;
    font-size: 18px;
    color: #384F6F;
}

.career .role{
    display: flex;
    margin-top: 60px;
}

.career .role .cg{
    flex: 1;
    margin-left: 20%;
}

.career .role .cg h2{
    color: #013CC6;
    font-size: 24px;
}

.career .role .cg p{
    font-size: 15px;
    width: 500px;
    color: #666666;
    margin-top: 10px;
}

.career .role .con{
    flex: 1;
}

.career .role .con h2{
    color: #013CC6;
    font-size: 24px;
}

.career .role .con p{
    font-size: 15px;
    width: 500px;
    color: #666666;
    margin-top: 10px;
}

.career .role .cg .reg-cg{
    padding: 8px 16px;
    background-color: #4089FF; 
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin-top: 50px;

}

.career .role .cg .reg-cg:hover{
    background-color: #08DCC1;
}

.career .role .con  .reg-con{
    padding: 8px 16px;
    background-color: #4089FF; 
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin-top: 30px;
}

.career .role .con .reg-con:hover{
    background-color: #08DCC1;
}

 










