/* CSS Library */

/* Import sidebar.css*/
/* @import url('components/sidebar.css'); */

/*COMPENETS*/
@import url('components/footer_styles.css');
@import url('components/topnavbar_styles.css');
@import url('components/form_styles.css');
@import url('moderator/careseekerrequests.css');
@import url('moderator/interview.css');

/* root colors */
:root{
    --base-clr: #ffffff;
    --line-clr: #42434a;
    --hover-clr: #225333;
    --text-clr: #222222;
    --accent-clr: #3952cc;
    --secondary-text-clr: #bobb3c1;
  }


/* Body */
body {
    
    font-family: Arial, sans-serif;
    background-color: #e0f7f9;
}
.top-container{
  padding-top: 80px;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    background-color: #e0f7f9;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: black;
}

.hero-text p {
    font-size: 18px;
    margin: 20px 0;
    color: black;
}

.sign-up-btn {
    padding: 12px 24px;
    background-color: #4a79f9;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
}

.hero-image img {
    max-width: 100%;
    border-radius: 20px;
}

