/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 



.navbar {
    position: fixed;
    /* position: sticky; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 20px;
    margin: 10px; /* Adds space on all sides */
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-space{
    margin-bottom: 80px;
}


.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #1a1a1a;
}

.logo span {
    color: #0066cc; /* Highlight color for '4' */
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin: 0 12px;
}

.nav-links li a {
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #34efdf;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-links li a:hover {
    color: #007bff; /* Change text color on hover */
}

.nav-links li a:hover:before {
    width: 100%;
}

.contact-signin {
    display: flex;
    align-items: center;
    font-size: 50px
}

.contact-number {
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-right: 15px;
}

.phone-icon {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.signin-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.signin-btn:hover {
    background-color: #0056b3;
}

/* Additional hover effects */
.nav-links li.center a:before {
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li.upward a:before {
    width: 100%;
    bottom: -5px;
    opacity: 0;
}

.nav-links li.upward a:hover:before {
    bottom: 0;
    opacity: 1;
}

.nav-links li.forward a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}


