.container{
    margin: auto;
    padding: 10px;
    width: 100%;
    max-width: 1050px;
    background-color: #fff;
    border-radius: 10px;
    min-height: 90vh;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    margin-bottom: 15px;
    background-color: #F7F6FA;
}

.header i{
    margin-right: 100px;
}

.header h2{
    font-size: 28px;
    color: #013CC6;
    margin-left: 20px;
}

.btn-history{
    justify-items: center;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 850px;
   
}


.btn-history button{
    padding: 10px 10px;
    margin-right: 15px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    background-color: #0B63F8;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-history button:hover{
    background-color: #0953D6;
}

.details{
    background-color: #F7F6FA;
    border-radius: 25px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
}

.details lable{
    font-size: 14px;
    color: #0B63F8;
    font-weight: 500;
}

.details p{
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

.content-box{
    border-radius: 8px;
    width: 300px;
    height: 50px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
}


  .card select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  .card select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }

  @media (max-width: 768px) {
    .details {
      grid-template-columns: 1fr; /* Single column on smaller screens */
    }
  }