.a-a-a-main-content {
    padding: 20px;
    width: 100%;
}

.a-a-a-stat-card {
    background:  #f1eded;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: auto;
    width: 95%;
    max-width: 800px;
    min-height: 80vh;
}

.a-a-a-stat-card h2 {
    font-size: 1.8rem;
    color: #1a237e;
    margin-bottom: 24px;
    font-weight: 600;
}

.a-a-a-form {
    background-color: #F7F6FA;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.star-rating {
    text-align: center;
    margin: 20px 0;
}

.star-rating i {
    font-size: 35px;
    color: #ddd;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.2s;
}

.star-rating i.active {
    color: #ffc107;
}

.a-a-a-form-group {
    margin: 20px 0;
}

.a-a-a-input {
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 2px dotted #ccc;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
}

.a-a-a-form-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.a-a-a-btn-save,
.a-a-a-btn-cancel,
.a-a-a-btn-delete {
    width: 200px;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.a-a-a-btn-save {
    color: white;
    background-color: #08DCC1;
}

.a-a-a-btn-save:hover {
    background-color: #06b5a1;
}

.a-a-a-btn-cancel {
    background-color: #f0f0f0;
    color: #333;
}

.a-a-a-btn-cancel:hover {
    background-color: #e0e0e0;
}

.a-a-a-btn-delete{
    color: white;
    background-color: rgb(255, 38, 38);
}
.a-a-a-btn-delete:hover {
    background-color: rgb(218, 33, 33);
}

